/* Permet de définir la taille de la map */
.map {
    width: 100%;
    height: 74vh;
    z-index: 1;
}

.highlight {
    background-color: #f8f9fa;
    padding: 1rem;
    z-index: 2;
    position: absolute;
}

.highlight > p {
    color: #007bff;
}

.highlight > p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.spinner-grow {
    margin-top: 25vh;
}
